body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.inner-page {
  line-height: 18px;
}

.main-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.main-button:hover {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;

  background-color: #f3f7f8;
}

.header-menu {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-logo {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ee3643;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo a:active {
  background-color: #ba2732;
}

.header-menu a {
  color: #ffffff;
}

.header-menu:hover,
.header-menu:focus {
  background-color: #212a3a;
}

.header-menu:active {
  background-color: #161d29;
}

.items-in-cart {
  background-color: #ee3643;
}

.header-search-form input {
  background-color: #293449;
}

.header-search-form input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-checkout-btn {
  background-color: #63a63e;
}

.header-checkout-btn:hover,
.header-checkout-btn:focus {
  background-color: #5fbb2d;
}

.header-checkout-btn:active {
  background-color: 518534;
}

.header-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  text-transform: none;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.user-navigation .my-orders-btn,
.user-navigation .my-cabinet-btn {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  text-transform: none;
  color: #32425c;

  background-color: #f3f7f8;
}

.main-navigation {

}

.main-menu {
  list-style: none;
  background-color: #32425c;
}

.main-menu a {
  font-size: 17px;
  line-height: 17px;
  text-transform: none;
  color: #ffffff;
}

.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  color: rgba(255,255,255,0.5);

  background-color: #1d2739;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  background-color: #f2f6f8;
}

.filters h2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filters-form fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters-form fieldset:last-of-type {
  border: none;
}

.filters-form legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filter-price input {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.filter-price input[type="range"] {
  width: 220px;
  height: 80px;
}

.filter-price input[type="text"] {
  width: 95px;
  height: 38px;
}

.filter-makers ul {
  list-style: none;
}

.filter-option input {
  font-size: 15px;
  line-height: 20px;
}

.filter-power ul {
  list-style: none;
}

.filter-btn {
  font-size: 13px;
  line-height: 18px;
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.promo {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-list h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: #ffffff;
}

.promo-list a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.promo-list li:first-child{
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.promo-list li a {
  background-color: rgba(0,0,0,0.1);
}

.promo-list li a:hover {
  background-color: rgba(0,0,0,0.2);
}

.promo-list li a:active {
  background-color: rgba(0,0,0,0.3);
}

.promo-list li:nth-child(2){
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.promo-list li:nth-child(3){
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.promo-list li:nth-child(4){
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}

.promo-list li:nth-child(5){
  background-color: #ffc047;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.slider {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
}

.slider h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.slider p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.slider a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.slider a:hover {
  background-color: #ca2c37;
}

.slider a:active {
  background-color: #ba2732;
}

.sorting {
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
}

.sort-by {
  color: rgba(0,0,0,0.3);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sort-by:hover {
  color: #000000;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ee3643;
}

.active-sort-by {
  color: #ee3643;
  text-decoration: none;
}

.catalog ul {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: none;
}

.catalog-item .old-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #e5e5e5;
  text-decoration-line: line-through;
}

.catalog-item .catalog-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.popular-header-block {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f9f5f0;
}

.popular-header-block h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
}

.popular-header-block a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.popular-header-block a:hover {
  background-color: #ca2c37;
}

.popular-header-block a:active {
  background-color: #ba2732;
}

.popular ul {
  list-style: none;
}

.popular-item {
  border: 1px solid #e5e5e5;
}

.popular-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: none;
}

.popular-item .old-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #e5e5e5;
  text-decoration-line: line-through;
}

.popular-item .popular-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.buy-btn,
.bookmark-btn {
  display: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  border: none;
  background-color: #ee3643;
}

.makers-header-block {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f9f5f0;
}

.makers-header-block h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
}

.makers-header-block a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.makers-header-block a:hover {
  background-color: #ca2c37;
}

.makers-header-block a:active {
  background-color: #ba2732;
}

.makers-list {
  list-style: none;
}

.makers-item {
  width: 220px;
  height: 145px;
}

.makers-item:first-child {
  background-image: url("../img/makers-bosch.png");
  background-repeat: no-repeat;
}

.makers-item:nth-child(2) {
  background-image: url("../img/makers-makita.png");
  background-repeat: no-repeat;
}

.makers-item:nth-child(3) {
  background-image: url("../img/makers-dewalt.png");
  background-repeat: no-repeat;
}

.makers-item:nth-child(4) {
  background-image: url("../img/makers-interskol.png");
  background-repeat: no-repeat;
}

.makers-item:nth-child(5) {
  background-image: url("../img/makers-hitachi.png");
  background-repeat: no-repeat;
}

.makers-item:nth-child(6) {
  background-image: url("../img/makers-lg.png");
  background-repeat: no-repeat;
}

.makers-item:nth-child(7) {
  background-image: url("../img/makers-aeg.png");
  background-repeat: no-repeat;
}

.makers-item:nth-child(8) {
  background-image: url("../img/makers-metabo.png");
  background-repeat: no-repeat;
}

.services {
  font-family: "PT Sans", Arial, sans-serif;

  background-color: #f5f8fa;
}

.services h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.services p
{
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item:first-child {
  background-image: url("../img/service-delivery.png");
  background-repeat: no-repeat;
}

.service-item:nth-child(2) {
  background-image: url("../img/service-guarantee.png");
  background-repeat: no-repeat;
}

.service-item:last-child {
  background-image: url("../img/service-credit.png");
  background-repeat: no-repeat;
}

.services-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.active-service-item a {
  color: #32425c;

  background-color: #ffffff;
}

.service-item h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #32425c;
}

.service-item .service-credit-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.service-credit-btn:hover {
  background-color: #ca2c37;
}

.service-credit-btn:active {
  background-color: #ba2732;
}

.about-page {
  background-color: #f2f6f8;
}

.about-page h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.about-page p {
  line-height: 24px;
  text-transform: none;
}

.about {
  font-family: "Cuprum", Arial, sans-serif;
}

.about h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-transform: none;
}

.delivery-list {
  list-style: none;
}

.delivery-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
}

.contacts {
  font-family: "Cuprum", Arial, sans-serif;
}

.contacts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-transform: none;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.footer-top {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
}

.footer-address {
  text-transform: none;
}

.footer-menu,
.footer-promo-list {
  list-style: none;
}

.footer-menu a:hover,
.footer-promo-list a:hover {
  text-decoration: underline;
}

.footer-menu a:active,
.footer-promo-list a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-menu a {
  color: #ffffff;
}

.footer-promo-list a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: none;

  background-color: #293449;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-social-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social-item:hover,
.footer-social-item:active {
  background-color: #ee3643;
}

.footer-social-item:first-child {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 7px 12px;
}

.footer-social-item:nth-child(2) {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 13px 7px;
}

.footer-social-item:last-child {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 10px 9px;
}

.modal-add-to-cart {
  font-family: "Cuprum", Arial, sans-serif;

  width: 620px;
  height: 282px;
  border-top: 7px solid #ff5357;

  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);

  background-image: url("../img/modal-cart.svg");
  background-repeat: no-repeat;
}

.modal-add-to-cart h2 {
  font-size: 30px;
  line-height: 30px;
}

.modal-return-btn {
  color: #000000;
  background-color: #ffffff;
}

.modal-write-us {
  font-family: "Cuprum", Arial, sans-serif;

  width: 620px;
  height: 430px;
  border-top: 7px solid #ff5357;

  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.modal-write-us label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: none;
}

.modal-write-us input,
.modal-write-us textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
}

.submit-part {
  background-color: #f4f4f4;
}

.modal-write-us-button {
  border: none;
}

.modal-map {
  width: 940px;
  height: 446px;
  background-image: url("../img/modal-map.jpg");
  box-shadow: 0 0 16px 8px rgba(0,0,0,0.5);
}

.modal-close {
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/modal-close.svg");
}

/* Сеточные стили */

/* Шапка*/
.main-header {
  margin-bottom: 60px;
}

.header-menu .container {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  width: 220px;
}

.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-description {
  width: 196px;
  padding-left: 50px;
}

.header-contacts {
  width: 270px;
}

.user-navigation {
  width: 280px;
}

.main-navigation {
  display: flex;
  width: 940px;
}

/* Основной раздел */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo {
  margin-bottom: 53px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-list li {
  width: 300px;
  margin-bottom: 20px;
}

.slider {
  width: 728px;
  height: 266px;
}

.popular ul {
  display: flex;
  justify-content: space-between;
}

.popular-item {
  width: 220px;
}

.makers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.makers-item {
  width: 220px;
  border: 1px solid #eaeaea;
}

.services-description {
  width: 400px;
  text-transform: none;
}

.services-content {
  display: flex;
  justify-content: space-between;
}

.services-menu {
  width: 240px;
}

.service-item {
  width: 620px;
}

.services-list p {
  width: 280px;
  text-transform: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.about {
  margin: 0;
  padding: 0;
  width: 550px;
}

.contacts {
  margin: 0;
  padding: 0;
  width: 300px;
}
/* Футер */

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-top {
  margin: 0;
  padding: 0;
}

.footer-top .container {
  justify-content: space-between;
}

.footer-address {
  margin: 0;
  padding: 0;
  padding-right: 50px;
  width: 380px;
  box-sizing: border-box;
}

.footer-menu {
  margin: 0;
  padding: 0;
  width: 570px;
}

.footer-promo-list {
  margin: 0;
  padding: 0;
  width: 550px;
}

.footer-bottom {
  margin: 0;
  padding: 0;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  width: 230px;
  margin-right: 140px;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 150px;
}

.footer-mail {
  margin: 0;
  padding: 0;
  width: 140px;
  margin-left: auto;
}

.footer-credits {
  margin: 0;
  padding: 0;
  width: 140px;
  margin-left: auto;
}
